<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Error page</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <div class="col-md-12 text-center">
        <h3 class="text-center">Ups! Something went wrong :(</h3>
        <h4 class="text-center">Please try again</h4>
    </div>

    <div class="col-md-12 text-center">
        <a class="btn  btn-info btn-lg text-center" href="/" role="button">Return</a>
    </div>

</div>

</body>
</html>