<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Zadanie_kalkulator_s</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <div class="col-md-12 text-center">
    <h3 class="text-center">Welcome to income calculator</h3>
    <h4 class="text-center">Here are available countries</h4>
    </div>
    <div class="row">
        <tr th:each="country:${countries}">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 text-white text-center bg-info">
                    <div class="card-body">
                        <h5 class="card-title text-center" th:text="${country.name}"></h5>
                        <p class="card-text text-center"
                           th:text="'Fixed costs: '+${country.fixedCost}+' '+${country.currencyCode}"></p>
                        <p class="card-text text-center" th:text="'Taxes: '+${country.taxPercentage}+' %'"></p>
                    </div>
                </div>
            </div>
        </tr>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
    <div class="col-md-12 text-center">
        <section class="login-form">

            <form th:action="@{/calculateIncome}" th:object="${submitForm}" method="POST">
                <div class="form-group">
                    <label for="hourRate">Hourly wage</label>
                    <input th:field="*{hourRate}" type="number" name="hourRate" class="form-control" id="hourRate" placeholder="10" min="1">
                </div>
                <div class="form-group">
                    <label for="coutry-select">Country</label>
                    <select th:field="*{countryId}" class="form-control" name="countryId" id="coutry-select">
                        <option th:each="country:${countries}" th:value="${country.id}" th:text="${country.name}"></option>
                    </select>
                </div>
                <button type="submit" name="calculateIncome" class="btn text-center btn-info btn-lg">Calculate income</button>
              </form>
        </section>
    </div>

</div>

</body>
</html>