<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Zadanie_kalkulator_s</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

</head>
<body>
<div class="container">

    <div class="col-md-12 text-center">
        <div class="card text-center">

            <div class="card-header">Calculated data</div>
            <div class="card-body">
                <h5 class="card-title text-info" th:text="'Monthly income in PLN = '+${income}"></h5>
                <p class="card-text" th:text="'Country: '+${country.name}"></p>
                <p class="card-text" th:text="'Fixed cost: '+${country.fixedCost}+' '+${country.currencyCode}"></p>
                <p class="card-text" th:text="'Taxes: '+${country.taxPercentage}+' %'"></p>
                <p class="card-text"
                   th:text="'Currency rate: '+${ratesFromApi.bid}+' from '+${ratesFromApi.effectiveDate}"></p>
                <a class="btn  btn-info btn-lg" href="/" role="button">Return</a>
            </div>
            <div class="card-footer text-muted">
                @Adam Kowalski
            </div>
        </div>

</body>
</html>